<body>
  <div>
    <div>
      <h3>Congratulations <%= name %></h3>
    </div>
    <div>
      <p>
        Wishing you infinite success with your new business! I know you will do
        justice to your skills and talent and turn your business into a
        phenomenal success! May you always get what you wish for and keep doing
        good.
      </p>
    </div>
  </div>
</body>
